body{
	background-color: cyan;
}
h1{
	text-align: center;
}
.picture{
	display: flex;
}
.style-section{
	height: 100px;
	width: 100px;
	margin: 10px;
	padding-top: 100px;
}
img{
	height: 500px;
	width: 500px;
	margin: 10px;
}